<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center bottom-line">
      <br/>
      <%= link_to "https://rawlsmd.com/" do %>
        <%= image_tag('Rawls-MD-logo.png') %>
      <% end %>
      <br/>
      <br/>
    </div>
  </div>
</div>
